<section id="about">
    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="max-w-5xl mx-auto text-left text-xl text-sanctuaries dark:text-slate-400">
					Les forêts sont nos meilleures alliées. Elles limitent le réchauffement climatique en piégeant le carbone, assurent nos rendements agricoles en générant les pluies et assurant la pollinisation (70% des cultures alimentaires mondiales en profitent). Elles sécurisent notre accès à l’eau douce et purifient l’air que nous respirons. Elles abritent 80% de la biodiversité terrestre. 80% !! Les forêts tropicales sont notre pharmacopée (60 à 80% des anticancéreux et antibiotiques proviennent de composés chimiques issus de la nature), et leur préservation nous protège de maladies mortelles pour les animaux d’élevages et les hommes. Les forêts sont enfin une source de bien-être et d’émerveillement pour tous. En un mot, elles nous font vivre. Nous, et les millions d’espèces vivantes dont nous n’avons pas encore fait le tour. Pourtant, elles continuent d’être rasées au profit de monocultures ou de l’urbanisation. Et ne croyez pas que planter des arbres peut compenser ces destructions.C’est un mirage. Oui, il faut reconstituer les forêts dégradées, mais l’urgence est de préserver les forêts du globe qui sont encore intactes et dont une partie inestimable de biodiversité disparaîtrait pour toujours si nous les détériorions. Il faut sauver les forêts, pour nous, pour nos enfants, pour le vivant.

				</p>
            </div>   
        </div>
    </div>        
</section>