<section id="about">
    <div class="relative max-w-6xl py-20 mx-auto px-4 sm:px-6 ">
        <div class="flex flex-wrap flex-row gap-20">
            <div class=" text-left grow basis-3/12">
                <h1 class="text-5xl md:text-5xl font-bold leading-tighter  text-sanctuaries  font-heading">Les forêts sont nos meilleures alliées</h1>
                </div>   
                <div class="mb-8 text-left grow basis-8/12">
                    <p class="max-w-3xl mx-auto text-left text-lg mb-5 text-sanctuaries dark:text-slate-400">
                        Elles 
                        <span class=" text-xl text-sanctuaries font-bold">limitent le réchauffement climatique</span> en piégeant le carbone, assurent 
                        <span class=" text-xl text-sanctuaries font-bold">nos rendements agricoles</span> en générant les pluies et assurant la pollinisation (70% des cultures alimentaires mondiales en profitent). Elles sécurisent notre 
                        <span class="text-xl text-sanctuaries font-bold">accès à l’eau douce</span> et 
                        <span class="text-xl text-sanctuaries font-bold">purifient l’air</span> que nous respirons. Elles abritent 
                        <span class=" text-xl text-sanctuaries font-bold">80% de la biodiversité terrestre. 80% !!</span> Les forêts tropicales sont notre pharmacopée (60 à 80% des anticancéreux et antibiotiques proviennent de composés chimiques issus de la nature), et leur préservation nous protège de maladies mortelles pour les animaux d’élevages et les hommes. Les forêts sont enfin une source de 
                        <span class=" text-xl text-sanctuaries font-bold">bien-être</span> et 
                        <span class=" text-xl text-sanctuaries font-bold">d’émerveillement</span> pour tous. En un mot, elles nous font 
                        <span class=" text-xl text-sanctuaries font-bold">vivre. Nous, et les millions d’espèces vivantes dont nous n’avons pas encore fait le tour.</span>
                     </p> 
                     <p class="max-w-3xl mx-auto text-left text-lg mb-5 text-sanctuaries dark:text-slate-400">
                        <span class=" text-xl text-sanctuaries font-bold">Pourtant</span>, elles continuent d’être 
                        <span class=" text-xl text-sanctuaries font-bold">rasées</span> au profit de monocultures ou de l’urbanisation. Et ne croyez pas que 
                        <span class=" text-xl text-sanctuaries font-bold">planter des arbres</span> peut compenser ces destructions.
                    <p class="max-w-3xl mx-auto text-left text-xl mb-5 text-sanctuaries dark:text-slate-400">  
                        <span class=" text-xl text-sanctuaries font-bold">C’est un mirage</span>. 
                    </p>    
                    <p class="max-w-3xl mx-auto text-left text-lg text-sanctuaries dark:text-slate-400">    
                        <span class=" text-xl text-sanctuaries font-bold">Oui, il faut reconstituer les forêts dégradées</span>, mais l’urgence est de 
                        
                        <span class=" text-xl text-sanctuaries font-bold">préserver les forêts du globe qui sont encore intactes</span> et dont une partie inestimable de biodiversité disparaîtrait pour toujours si nous les détériorions. 
                        <span class=" text-xl text-sanctuaries font-bold">Il faut sauver les forêts, pour nous, pour nos enfants, pour le vivant.</span>

                    </p>
                </div>   
           
    </div>        
</section>