---
import { Icon } from 'astro-icon';

---

<section class="relative anchor dark:bg-zinc-600 lg:pt-20 pt-8" id="founders">
	<div class="absolute inset-0 bg-sanctuaries-light dark:bg-zinc-900 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Une histoire de famille</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Les Fondateurs
				</h2>
				<p class="max-w-5xl mx-auto text-left text-lg text-gray-600 dark:text-slate-400">
					La fascination pour la biodiversité de Christophe Gerschel et de sa fille Flora ne date pas d’hier. 
Avant d’entraîner ses enfants dans les forêts du globe, Christophe Gerschel les a lui-même parcourues depuis sa plus tendre enfance en compagnie de son père, Bertie, entomologiste amateur et passionné de faune et de flore. Lui-même tient ce virus de sa mère, Marcelle Vérité, célèbre et prolifique autrice de livres pour enfants dans lesquels la nature tenait déjà une place centrale. 
Une fascination transmise de génération en génération, nourrie depuis plusieurs années par un sentiment d’urgence : devant l’érosion inquiétante de la biodiversité que rien ne semble pouvoir enrayer, il fallait agir.
Green Sanctuaries est l’aboutissement de cette démarche familiale en faveur du vivant.

				</p>
			</div>
			
				<div class="card-body flex items-center text-center w-75  image-full ">
                    <figure><img src="/images/founders.jpg" alt="founders" class="rounded-xl shadow-xl" /></figure>
                </div>
                    
                  
			</div>
		</div>
	</div>
</section>
