---
import { Icon } from 'astro-icon';
import { lax } from 'lax.js';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getHomePermalink, getBlogPermalink, getPermalink, getRelativeLink } from '~/utils/permalinks';
---

<header
	class="page-header sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-zinc-900 dark:md:bg-zinc-900/90 md:backdrop-blur-sm"
	id="header"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-sanctuaries-lighter h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible"
			aria-label="Main navigation"
		>
		<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
				
			<li>
				<a 
					class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
					aria-label="Toggle Menu"
					data-aw-toggle-menu-close
					href='#about'
					>A propos
				</a>
			</li>
			<li>
				<a
					class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href='#map'
					aria-label="Toggle Menu"
					data-aw-toggle-menu-close
					>Nos forêts
				</a>
			</li>
			<li>
				<a
					class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href='#team'
					aria-label="Toggle Menu"
					data-aw-toggle-menu-close
					>Comité scientifique
				</a>
			</li>
			<li>
				<a
					class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href='#founders'
					aria-label="Toggle Menu"
					data-aw-toggle-menu-close
					>Les fondateurs
				</a>
			</li>
			
			
	
			
		</ul>
		<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
			<div class=" items-center md:flex">
				
				<a
						class="btn btn-rounded  bg-red-200 text-sanctuaries border-none mb-4 sm:mb-0"
						href="https://www.helloasso.com/associations/green-sanctuaries/formulaires/1/widget"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:gift" class="w-5 h-5 mr-1 -ml-1.5" />Faire un don
					</a>
			</div>
		</div>
		<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
			<div class=" items-center md:flex">
				<ToggleTheme iconClass="w-5 h-5" />
				
			</div>
		</div>	
			

		
		</nav>
	</div>
<!-- JS -->
<script is:inline src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
<script is:inline>

window.addEventListener("load", () => {
	
	lax.init()
	
	// Add a driver that we use to control our animations
	lax.addDriver('scrollY', function () {
		return window.scrollY
		
	})
})
</script>


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script is:inline>
  AOS.init();
</script>
<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script is:inline>
	$(".page-header ul a").on("click", function (e) {
  // 1 
  e.preventDefault();
  // 2 
  const href = $(this).attr("href");
  // 3 
  $("html, body").animate({ scrollTop: $(href).offset().top - 200 }, 200);
});
</script>
</header>
