---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
---

<section>
	<div class="hero min-h-80" style="background-image: url(/images/hero-green.jpg);">
		<div class="hero-overlay bg-opacity-0"></div>
		<div class="hero-content text-center text-white">
		  <div class="max-w-screen-md">
			<h1 class="mb-5 text-6xl font-bold ">Devenez sauveur de l'humanité, adoptez une fôret</h1>
			<p class="mb-5 text-2xl ">Si vous pensez qu'on en fait un peu trop, lisez ce qui suit.</p>
			<button class="btn rounded-full bg-primary-500 border-none">en savoir plus</button>
		  </div>
		</div>
	  </div>
</section>
