---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components'
---

<section>
	<div class="hero min-h-80" style="background-image: url(/images/hero-green.jpg);">
		<div class="hero-overlay bg-opacity-0"></div>
		<div class="hero-content text-center text-white">
		
		</div>
	  </div>
</section>
