

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
    <div id="map" style="position:relative;top:-150px"></div>
    <div>
        <h1 class="text-4xl md:text-5xl font-semibold leading-tight text-center text-sanctuaries dark:text-sanctuaries-medium sm:mb-0 mb-12 lax lax_preset_fadeInOut:350:0">
            Nos premières <br class="md:block hidden" />
            forêts à protéger
        </h1>
        <div class="md:mt-14 mt-4 relative sm:flex items-center justify-center">
            <img src="/images/map/map.png" alt="world map image" class="w-full xl:h-full h-100 object-cover object-fill sm:block hidden" />
            <img src="/images/map/map-mobile.png" alt="mobile-image" class="sm:hidden -mt-10 block w-full h-96 object-cover object-fill absolute z-0" />

            <div class="shadow-lg p-3 sm:w-auto w-full bg-sanctuaries sm:absolute relative z-20 sm:mt-0 mt-4 left-0 xl:-ml-12 sm:ml-12 xl:-mt-10 sm:-mt-12 rounded-xl">
                <p class="text-lg font-semibold text-white">Equateur</p>
                <p class="text-sm leading-4  text-white">250 ha de forêt amazonienne <br> au pied des Andes.</p>
            </div>
            <div class="shadow-lg p-3  sm:w-auto w-full bg-sanctuaries sm:absolute relative z-20 sm:mt-0 mt-4 xl:-mt-72 md:-mt-72 xl:ml-24  rounded-xl">
                <p class="text-lg font-semibold text-white">France</p>
                <p class="text-sm leading-4  text-white">300 ha de forêt ancienne <br> dans le Lot.</p>
            </div>
            <div class="shadow-lg p-3 sm:w-auto w-full bg-sanctuaries sm:absolute relative z-20 md:mt-0 sm:-mt-5 mt-4 xl:-mt-12 xl:right-50 md:-mt-12 md:right-100 xl:mr-56 sm:mr-24 rounded-xl">
                <p class="text-lg font-semibold text-white">Cameroun</p>
                <p class="text-sm leading-4 text-white">5.000 ha de forêt primaire <br> du bloc forestier central Africain.</p>
            </div>
            <div class="shadow-lg p-3 sm:w-auto w-full bg-sanctuaries sm:absolute relative z-20 md:mt-56 sm:-mt-5 mt-4 xl:mt-48 xl:right-80 xl:mr-56 sm:mr-24 rounded-xl">
                <p class="text-lg font-semibold text-white">Namibie</p>
                <p class="text-sm leading-4  text-white">40 000 ha de savane arborée <br> dans le Damaraland.</p>
            </div>
            <div class="shadow-lg p-3 sm:w-auto w-full bg-sanctuaries sm:absolute relative z-20 md:mt-48 md:-mr-96 sm:-mt-5 mt-4 xl:mt-48 xl:right-10 xl:mr-56 sm:mr-24 rounded-xl">
                <p class="text-lg font-semibold text-white">Zimbabwe</p>
                <p class="text-sm leading-4  text-white">370 ha de forêt primaire d’altitude <br> dans le Bvumba.</p>
            </div>
        </div>
    </div>
</section>


