
<section class="dark:bg-zinc-900 anchor ">
	<div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
	<div class="relative">
		<div id="team" style="position:relative;top:-150px"></div>
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-left" data-aos="fade-up" data-aos-offset="300">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-sanctuaries dark:text-sanctuaries-light">
					Notre comité scientifique
				</h2>
				<p class="max-w-5xl text-left text-xl text-sanctuaries dark:text-sanctuaries-light">
					Nous nous sommes entourés d’un groupe indépendant de personnalités d’horizons différents, pour nous conseiller et assurer la pertinence et la cohérence de nos actions scientifiques et pédagogiques.

				</p>
			</div>
            
                
			<div data-aos="fade-up" data-aos-offset="300" data-aos-delay="150" class="grid gap-5 md:grid-cols-2 lg:grid-cols-3 items-center justify-items-center items-stretch	my-12 auto-cols-auto dark:text-white">
				
                <div class="card w-auto bg-sanctuaries-lighter dark:bg-zinc-800 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/alain_pave.jpg" alt="portrait" class="mask mask-squircle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Alain Pavé</h2>
					  <p>Professeur émérite à l'Université Claude Bernard de Lyon, membre de l'académie des technologies et correspondant de l'académie d'agriculture au sein de l'ARES, membre de la Sigma-Xi Scientific Research Honor Society (USA). 
						</p> 
					
					</div>
				  </div>
				  <div class="card w-auto bg-sanctuaries-lighter dark:bg-zinc-800 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/claire_yia.jpg" alt="portrait" class="mask mask-squircle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Yia Claire Thor</h2>
					  <p>Professeure des écoles maître-formateur, exerçant dans une école labellisée éco-école en Guyane, intervenante à la Maison pour la Science de Guyane.  
						</p>
					
					</div>
				  </div>
				  <div class="card w-auto bg-sanctuaries-lighter dark:bg-zinc-800 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/roxanne_gall.jpg" alt="portrait" class="mask mask-squircle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Roxane Gall</h2>
					  <p>Ingénieure développement logiciels, s'intéresse particulièrement à la démarche du Numérique Responsable. 
						</p>
					
					</div>
				  </div>
				  <div class="card w-auto bg-sanctuaries-lighter dark:bg-zinc-800 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/jacques_pierre.jpg" alt="portrait" class="mask mask-squircle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Jacques Pierre</h2>
					  <p>Entomologiste, professeur honoraire au Muséum National d'Histoire Naturelle, anciennement responsable de service Lépidoptères.
						</p>
					
					</div>
				  </div>
				      
				  
		</div>
	</div>
</section>