<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl anchor" id="team">
	<div class="">
	<div class="relative">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-left">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-sanctuaries dark:text-sanctuaries-light">
					Notre comité scientifique
				</h2>
				<p class="max-w-5xl text-left text-md text-sanctuaries dark:text-sanctuaries-light">
					Nous nous sommes entourés d’un groupe indépendant de personnalités d’horizons différents pour nous conseiller dans les aspects scientifiques et pédagogiques de notre mission. Nous les remercions pour leur bienveillance et la pertinence de leur regard sur les actions de Green Sanctuaries. 

				</p>
			</div>
            
                
			<div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3 items-center justify-items-center	my-12 auto-cols-auto dark:text-white">
				
                <div class="card w-auto bg-sanctuaries-lighter dark:bg-sanctuaries shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/portrait-placeholder.jpg" alt="portrait" class="mask mask-circle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Alain Pavé</h2>
					  <p>Professeur Emerite Universite Claude Bernard Lyon 1. Anciennement Directeur de Recherche au CNRS et directeur du Programme Amazonie 
						</p> 
					
					</div>
				  </div>
				  <div class="card w-auto bg-base-100 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/portrait-placeholder.jpg" alt="portrait" class="mask mask-circle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Alain Pavé</h2>
					  <p>Professeur Emerite Universite Claude Bernard Lyon 1. Anciennement Directeur de Recherche au CNRS et directeur du Programme Amazonie 
						</p>
					
					</div>
				  </div>
				  <div class="card w-auto bg-base-100 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/portrait-placeholder.jpg" alt="portrait" class="mask mask-circle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Alain Pavé</h2>
					  <p>Professeur Emerite Universite Claude Bernard Lyon 1. Anciennement Directeur de Recherche au CNRS et directeur du Programme Amazonie 
						</p>
					
					</div>
				  </div>
				  <div class="card w-auto bg-base-100 shadow-xl">
					<figure class="px-10 pt-5">
					  <img src="/images/team/portrait-placeholder.jpg" alt="portrait" class="mask mask-circle" />
					</figure>
					<div class="card-body items-center text-center">
					  <h2 class="card-title">Alain Pavé</h2>
					  <p>Professeur Emerite Universite Claude Bernard Lyon 1. Anciennement Directeur de Recherche au CNRS et directeur du Programme Amazonie 
						</p>
					
					</div>
				  </div>     
				  
		</div>
	</div>
</section>