---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'Transparence',
			description:
				'Votre générosité nous engage. L’ensemble de nos actions est documenté et expliqué, pour que chaque euro donné ait une destination concrète.',
			icon: 'values-transparency',
		},
		{
			title: 'Ouverture',
			description:
				'Nos sanctuaires sont des lieux ouverts à la recherche, mais aussi à la sensibilisation des publics locaux et internationaux, et à la cohabitation apaisée avec les communautés riveraines.',
			icon: 'values-openness',
		},
		
	],
	[
		{
			title: 'Pragmatisme',
			description:
				'Notre approche de la protection de la nature est à la fois humble et pratique. Nous collaborons avec les scientifiques et les communautés locales, en nous gardant de toute tentation dogmatique.',
			icon: 'values-practical',
		},
        {
			title: 'Transmission',
			description:
				'Nous ambitionnons de transmettre aux jeunes générations l’émerveillement devant la nature, et aux générations futures une biodiversité préservée',
			icon: 'values-family',
		},
	
	],
];
---

<section class="scroll-mt-16 dark:bg-zinc-800" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				Nos valeurs</span>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				4 valeurs cardinales guident les actions du fonds de dotation Green Sanctuaries sur tous ses terrains d'opération.
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-24 h-24 rounded-full bg-sanctuaries-dark dark:bg-primary-700">
										{icon && <Icon name={icon} class="w-16 h-16 text-white fill-white white icon-light" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p class="text-gray-600 dark:text-slate-400">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
